<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1276.35 156.97">
  <defs><style>.cls-1{fill:#f15d38;}</style></defs><title>Asset 13</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <path class="cls-1" d="M290,154h-54.2V2.15h70.88c51.82,0,76.66,58.73,38.22,89.18L371,154h-58.3l-12.53-49-13.22.65C286.52,100.83,290,151.58,290,154ZM288,73c25.32,0,24.65-35,0-35Z"/><path class="cls-1" d="M663.24,1.94H770.66V49.22H719.38V61.64h51.28v40.81H719.38V154H663.24Z"/><path class="cls-1" d="M860.72,1.94h62.14V154.08H860.72Z"/><path class="cls-1" d="M1041.08,48.22H1012.9V1.94h111.42V48.22h-27.1V154.08h-56.14Z"/><path class="cls-1" d="M1214.22,1.94h62.13V154.08h-62.13Z"/><path class="cls-1" d="M526.08,130.85h-27L496.71,154H439.92l33.69-152h77.95l33.68,152H528.45ZM522,90l-9-47.5h-.43l-9,47.5Z"/><path class="cls-1" d="M104.23,68.92H76.1V97.5h28.13v2.25c-2.09,5.93-12.17,10.72-22.94,10.72-20.11,0-29.62-18.16-29.62-33.29,0-18.59,13.62-30.7,27.45-30.7,6.71,0,15.35,3,20.11,9.3l51-7.34C138.27,13.08,105.72,0,79.34,0,30.27,0,0,37.62,0,80.21S30.48,157,79.77,157c8.47-8.46,16.71-20.09,24.46-28.42v25.38H156.3v-85Z"/>
    </g>
  </g>
</svg>