{% for block in section.blocks %}
{% assign selected_article = articles[block.settings.article]%}
{% if selected_article.handle == article.handle %}
<div class="grid_wrapper text">
  <div class="desktop-12 span-12">
    <h2 class="big_title text-center">{{ block.settings.text }}</h2>
  </div>
  <div class="clear"></div>
</div>
<div class="grid_wrapper product-loop tap_product_slider" id="article_shop_wall_art">
  {%- assign collection = collections[block.settings.collection] -%}
  {% for product in collection.products limit: block.settings.limit %}
  <div class="desktop-3 tablet-2 mobile-half span-3">
    {% render 'product-listing', product: product %}
  </div>
  {% endfor %}
</div>
<div class="grid_wrapper blog_link_row">
  <div class="desktop-12 span-12">
    <a class="button coll_link blog_coll_link" href="/collections">Shop Grafiti Home</a>
  </div>
</div>
<script>
  (function(){    
    $(window).on('load resize', function() {
      if($(this).width() > 740) {
        $('#article_shop_wall_art').not('.slick-initialized').slick({
          autoplay: true,
          autoplaySpeed: 5000,
          slidesToShow: 4,
          slidesToScroll: 4,
          infinite: true,
          nextArrow: '<i class="la la-angle-right" aria-hidden="true"></i>',
          prevArrow: '<i class="la la-angle-left" aria-hidden="true"></i>',
          responsive: [
            {
              breakpoint: 740,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }
          ]
        });
      } else {
        if($('#article_shop_wall_art').hasClass('slick-initialized')){
          $('#article_shop_wall_art').slick('unslick');
        }
      }
    });
  })();
</script>
{% assign hasProducts = true %}
{% break %}
{% else %}
{% assign hasProducts = false %}
{% endif %}
{% endfor %}
{% if hasProducts == false %}
{% include 'shop-grafiti-wall-art' %}
{% endif %}
{% schema %}
  {
    "name": "Article Related Products",
    "settings": [],
	"blocks": [
	  {
		"name": "Collection",
		"type": "collection",
		"settings": [
		  {
			"type": "textarea",
			"id": "text",
			"label": "Title",
			"default": "Shop Wall Art"
		  },
		  {
			"type": "article",
			"id": "article",
			"label": "Select Article"
		  },
		  {
			"type": "collection",
			"id": "collection",
			"label": "Select Collection"
		  },
		  {
			"type": "number",
			"id": "limit",
			"label": "Products limit",
			"default": 8
		  }
		]
	  }
	]
  }
{% endschema %}