<div class="c_section">
  <div class="grid_wrapper">
    <div class="desktop-12 tablet-12 mobile-12 span-12">
      <h2 class="big_title">{{ section.settings.section_text }}</h2>
      {% if section.settings.link_text != blank %}
      <p class="shop_all_link"><a href="{{section.settings.link}}">{{section.settings.link_text}}</a></p>
      {% endif %}
    </div>
    <div class="clear"></div>
  </div>  
  <div class="grid_wrapper product-loop">
    {%- assign collection = collections[section.settings.collection_b] -%}
    {%- assign product_limit = section.settings.limit_p -%}
    {% for product in collection.products limit: product_limit   %}    
    <div class="desktop-4 tablet-4 mobile-half span-4{%if forloop.index > section.settings.limit_m %} mobilehide{%endif%}">
      {% render 'product-listing', product: product %}
    </div>
    {% endfor %}
  </div>  
  <div class="clear"></div>
</div>

{% schema %}
{
"name": "New Arrivals",
"settings": [
{
"type":"text",
"id":"section_text",
"label":"Section Heading"
},
{
"type":"text",
"id":"link_text",
"label":"Link Text"
},
{
"type":"url",
"id":"link",
"label":"Link"
},
{
"type": "collection",
"id": "collection_b",
"label":"Select Collection"
},
{
"type": "range",
"id": "limit_p",
"min": 3,
"max": 20,
"step": 1,
"label": "Limit",
"default": 6
},
{
"type": "range",
"id": "limit_m",
"min": 3,
"max": 20,
"step": 1,
"label": "Limit for mobile",
"default": 6
}
]
}
{% endschema %}
