<div class="instagram-gallery"> 
  <h2 class="big_title">7th Avenue on Instagram</h2>
  <h3 class="instagram_handle">Follow us @7thavenueco</h3>
  <covet-pics-widget gallery-embed-id="219025"></covet-pics-widget>
</div>
