<div id="product-reviews" class=" pdb-sofa-review row"> 
  <div class="section-title okeReviews-margin" style="margin-bottom: 2em;"> 
    <h2 class="big_title_reviews">Media Grid</h2>
  </div> 
  {% render 'okendo-reviews-media-grid' %}
</div>

{% schema %}
  {
    "name": "Okendo Media Grid",
    "presets": [
      {
        "name": "Okendo Media Grid"
      }
    ]
  }
{% endschema %}