<div id="product-reviews" class=" pdb-sofa-review row"> 
  <div class="section-title okeReviews-margin" style="margin-bottom: 2em;"> 
    <h2 class="big_title_reviews">Media Carousel</h2>
  </div> 
{% render 'okendo-reviews-media-carousel' %}
</div>

{% schema %}
  {
    "name": "Okendo Media Carousel",
    "presets": [
      {
        "name": "Okendo Media Carousel"
      }
    ]
  }
{% endschema %}